streamlit==1.46.1
firebase-admin==7.1.0
pandas==2.3.0
numpy==2.3.1
requests==2.32.4
google-cloud-firestore==2.21.0
google-cloud-storage==3.2.0
protobuf==6.31.1
altair==5.5.0
plotly==6.2.0
xlsxwriter==3.2.5
matplotlib==3.10.3
python-docx==1.2.0
reportlab==4.2.5
scikit-learn==1.5.2
